<header>
    <img src="assets/img/profile.jpeg" alt="Gabriel Vedovelli Cubacheski - Foto de Perfil" width="130px" height="130px" loading="eager"/>
    <h1>Gabriel Vedovelli Cubacheski</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Pleno | Backend | C# | .NET | SQL | Oracle | Python</p>
        <p>Brasil</p>
        <p>Formado em Ciências da Computação; </p>
        <p>Sólido conhecimento em metodologias ágeis; </p>
        <p>4 anos de experiência em desenvolvimento backend utilizando C# (.NET); </p>
        <p>Tenho interesse em continuar crescendo na área de desenvolvimento, contribuindo com minhas experiências e aprendendo novas tecnologias. </p>
      
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/CV.pdf"
                       target="_blank" 
                       class="btn btn-primary"
                       title="Fazer o downloado currículo."
                       >
                        Download CV
                    </a>
                </li>
                
                <li>
                    <a href="https://www.linkedin.com/in/gabriel-vedovelli-cubacheski/" 
                       target="_blank" 
                       class="btn btn-secondary"
                       title="Entrar na página do LinkedIn."
                       >
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg"
                    alt="ícone para contato WhatsApp"
                    width="22px"
                    height="24px"
                />
                <figcaption title="Redireciona para o whatsapp.">
                    <a href="https://api.whatsapp.com/send?phone=5551986308427&text=Ol%C3%A1%20Gabriel,%20Tudo%20bem?%20Vi%20seu%20portfolio,%20e%20entrei%20em%20contato!"
                       target="_blank">
                    <strong>
                        Envie uma mensagem para:
                        <p>Whatsapp: (51) 9 8630-8427</p>
                    </strong>
                </a>
                </figcaption>
            </figure>

            <figure>
                <img 
                    src="assets/icons/mail.svg"
                    alt="ícone para contato WhatsApp"
                    width="22px"
                    height="24px"
                />
                <figcaption title="Redireciona para o e-mail.">
                    <a href="mailto:gabriel.vedo@hotmail.com"
                       target="_blank">
                    <strong>
                        Envie um e-mail para:
                        <p>gabriel.vedo&#64;hotmail.com</p>
                    </strong>
                </a>
                </figcaption>
            </figure>

        </section>
    </div>
</aside>